{% extends 'team_lead/tl_base.html' %} 
{%load static%}
{%block content%}



<div class="row pt-3" style="background-color: black;">
<div class="row mt-4 ">
  </div>
      <div class="card">
          <div class="card-body">

            <div class="row ">
              <div class="col-sm-4">
                <h4 class="mb-1">Executive Name</h4>
              </div>
              <div class="col-sm-2">
                <h4 class="text-muted mb-0 mx-5">:</h4>
              </div>
              <div class="col-sm-6">
                <h4 class="text-muted mb-0 mx-5">{{work.user.fullname}}</h4>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4">
                <h4 class="mb-1">Start Date</h4>
              </div>
              <div class="col-sm-2">
                <h4 class="text-muted mb-0 mx-5">:</h4>
              </div>
              <div class="col-sm-6">
                <h4 class="text-muted mb-0 mx-5">{{work.start_date}}</h4>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4">
                <h4 class="mb-1">End Date</h4>
              </div>
              <div class="col-sm-2">
                <h4 class="text-muted mb-0 mx-5">:</h4>
              </div>
              <div class="col-sm-6">
                <h4 class="text-muted mb-0 mx-5">{{work.end_date}}</h4>
              </div>
            </div>
            
           
          </div>
                 
          </div>
      </div>
      
      <div class="row mt-4">
        <div class="card">
          <div class="card-body">
            <!-- <div class="card-title">Work Progress Report</div>  -->
           
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col" style="color:#6C7293;">Platform</th>
                    <th scope="col" style="color:#6C7293;">Title</th>
                    <th scope="col" style="color:#6C7293;">Count</th>
                    <th scope="col" style="color:#6C7293;">File</th>
                    <th scope="col" style="color:#6C7293;">Action</th>
                  </tr>
                </thead>
                <tbody id="myTable">
                  {% for s in sm %}
                    <tr>
                      <td style="color:white;">{{s.smo_platform}}</td>
                    <td style="color:white;">{{s.smo_platform_title}}</td>
                    <td style="color:white;">{{s.smo_count}}</td>
                    <td style="color:white;">{{s.smo_files}}</td>
                    <td class="text-primary"><a href=""
                        style="text-decoration: none;">
                        <div class="badge badge-outline-info">View Details</div>
                      </a></td>
                    </tr>
                    {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      
      <div class="pt-3 float-end" style="background-color: black;">
        <div class="" style="font-size: 20px;font-weight: 600;color:#6C7293;">
          {% if work.audit_rprt %}
          <a href="{{work.audit_rprt.url}}"
          style="text-decoration: none;">
          {% endif %}
          <button class="btn btn-primary">AUDIT REPORT</button>
        </a> 
          </div>
      </div>  
      
      <div class="row pt-3 mt-5" style="background-color: black;">
        <div class="" style="font-size: 20px;font-weight: 600;color:#6C7293;">GRAPHICAL STATISTICAL VIEW</div>
      </div>
      
      <div class="row mt-5">
        <div class="row mt-1">
          
          <div class="col-lg-6 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title" style="color:white;">Last Week Graph</h4>
                <img src="{{work.graph.url}}" style="width:27rem" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 grid-margin stretch-card">
          <div class="card" >
            <div class="card-body">
              <h4 class="card-title" style="color:white;">Previous Week Graph</h4>
              {% if prv_work.graph != ""%}
              <div style="width:30rem">
                <img src="{{prv_work.graph.url}}" style="width:28rem" alt="">
              </div>
              {%else%}
            {%endif%}
            </div>
          </div>
        </div>
      
        
        
      </div>


     
  </div>
  

  
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script src="../../assets/vendors/js/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <script src="../../assets/vendors/chart.js/Chart.min.js"></script>
  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="../../assets/js/off-canvas.js"></script>
  <script src="../../assets/js/hoverable-collapse.js"></script>
  <script src="../../assets/js/misc.js"></script>
  <script src="../../assets/js/settings.js"></script>
  <script src="../../assets/js/todolist.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page -->
  <script src="../../assets/js/chart.js"></script>
  <!-- End custom js for this page -->



{% endblock %}